<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Firewalls & IDS</title>
      
        <!-- Animation/Bootstrap CSS Files -->
        <link href="../static/bs/aos/aos.css" rel="stylesheet">
        <link href="../static/bs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/bs/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="../static/bs/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="../static/bs/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="../static/bs/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Main CSS File -->
        <link href="../static/css/style.css" rel="stylesheet">
    </head>

    <body>
      
        <!-- ======= Title Screen Section ======= -->
        <section id="title" class="d-flex align-items-center">
            <div class="container-fluid" data-aos="fade-up">
                <div class="row justify-content-center">
                    <!-- Site title -->
                    <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                        <h1>Firewalls & <br> Intrusion Detection Systems</h1>
                        <h2>consectetur adipiscing elit, sed do eiusmod tempor</h2>
                    </div>
                    <!-- Firewall & IDS Logo  -->
                    <div class="col-xl-4 col-lg-6 order-1 order-lg-2 tile-img" data-aos="zoom-in" data-aos-delay="150">
                        <img src="../static/img/Server-bro.png" class="img-fluid animated" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- Content -->
        <main id="main">

            <!-- ======= Overview Section ======= -->
            <section id="overview" class="overview">
                <div class="container">
                    <div class="row">
                        <!--  -->
                        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
                            <img src="../static/img/Server status-bro.png" class="img-fluid" alt="">
                        </div>
                        <!--  -->
                        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                            <!--  -->
                            <h3>Overview</h3>
                            
                            <!-- project overview / goals -->
                            <p class="fst-italic"> 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                            </p>
                            
                            <!-- goals & topics -->
                            <ul>
                                <li>
                                    <i class="bi bi-check-circle"></i> Topic a: Duis aute irure dolor in reprehenderit in voluptate velit.
                                </li>
                                <li>
                                    <i class="bi bi-check-circle"></i> Topic b: Duis aute irure dolor in reprehenderit in voluptate velit.
                                </li>
                                <li>
                                    <i class="bi bi-check-circle"></i> Topic c: Duis aute irure dolor in reprehenderit in voluptate velit.
                                </li>
                                <li>
                                    <i class="bi bi-check-circle"></i> Topic d: Duis aute irure dolor in reprehenderit in voluptate velit.
                                </li>
                                <li>
                                    <i class="bi bi-check-circle"></i> Topic e: Duis aute irure dolor in reprehenderit in voluptate velit.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ======= Statistics Section On Firewall & IDS Security ======= -->
            <section id="stats" class="stats">
                <div class="container">
                    <div class="row counters">
                        <!-- Statistic 1 -->
                        <div class="col-lg-3 col-6 text-center">
                            <span data-purecounter-start="0" data-purecounter-end="8888" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Statistic 1</p>
                        </div>

                        <!-- Statistic 2 -->
                        <div class="col-lg-3 col-6 text-center">
                            <span data-purecounter-start="0" data-purecounter-end="8888" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Statistic 2</p>
                        </div>

                        <!-- Statistic 3 -->
                        <div class="col-lg-3 col-6 text-center">
                            <span data-purecounter-start="0" data-purecounter-end="8888" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Statistic 3</p>
                        </div>

                        <!-- Statistic 4 -->
                        <div class="col-lg-3 col-6 text-center">
                            <span data-purecounter-start="0" data-purecounter-end="8888" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Statistic 4</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ======= Learning Section ======= -->
            <section id="information" class="information section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Learning</h2>
                        <p> 
                            Inforomation on this learning section: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                            sunt in culpa qui officia deserunt mollit anim id est laborum. 
                        </p>
                    </div>

                    <!-- information slider -->
                    <div class="info-slider swiper" data-aos="fade-up">
                        <div class="swiper-wrapper">
                            <!-- content 1 -->
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                        </br>
                                        </br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                    </p>
                                </div>
                            </div>

                            <!-- content 2 -->
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                        </br>
                                        </br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                    </p>
                                </div>
                            </div>
                            
                            <!-- content 3 -->
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                        </br>
                                        </br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                    </p>
                                </div>
                            </div>
                            
                            <!-- content 4 -->
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                        </br>
                                        </br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                    </p>
                                </div>
                            </div>
                            
                            <!-- content 5 -->
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                        </br>
                                        </br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                    </p>
                                </div>
                            </div>

                            <!-- content 6 -->
                            <div class="swiper-slide">
                                <div class="info-item">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                        </br>
                                        </br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum. 
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>

            <!-- ======= Review Questions Section ======= -->
            <section id="question" class="question">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">

                        <!-- Use this section to ask one question based on each topic covered -->
                        <h2>Review Questions</h2>
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                            velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="question-list">
                        <ul>
                            <!-- Question 1 -->
                            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-help-circle icon-help"></i>
                                <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#question-list-1">
                                    Question 1: Non consectetur a erat nam at lectus urna duis? 
                                    <i class="bx bx-chevron-down icon-show"></i>
                                    <i class="bx bx-chevron-up icon-close"></i>
                                </a>
                                <div id="question-list-1" class="collapse" data-bs-parent=".question-list">
                                    <!-- answer -->
                                    <p> 
                                        Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer 
                                        malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor 
                                        sed. Ut venenatis tellus in metus vulputate eu scelerisque. 
                                    </p>
                                </div>
                            </li>

                            <!-- Question 2 -->
                            <li data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-help-circle icon-help"></i>
                                <a data-bs-toggle="collapse" data-bs-target="#question-list-2" class="collapsed">
                                    Question 2: Feugiat scelerisque varius morbi enim nunc? 
                                    <i class="bx bx-chevron-down icon-show"></i>
                                    <i class="bx bx-chevron-up icon-close"></i>
                                </a>
                                <div id="question-list-2" class="collapse" data-bs-parent=".question-list">
                                    <!-- answer -->
                                    <p> 
                                        Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer 
                                        malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor 
                                        sed. Ut venenatis tellus in metus vulputate eu scelerisque. 
                                    </p>
                                </div>
                            </li>

                            <!-- Question 3 -->
                            <li data-aos="fade-up" data-aos-delay="300">
                                <i class="bx bx-help-circle icon-help"></i>
                                <a data-bs-toggle="collapse" data-bs-target="#question-list-3" class="collapsed">
                                    Question 3: Dolor sit amet consectetur adipiscing elit? 
                                    <i class="bx bx-chevron-down icon-show"></i>
                                    <i class="bx bx-chevron-up icon-close"></i>
                                </a>
                                <div id="question-list-3" class="collapse" data-bs-parent=".question-list">
                                    <!-- answer -->
                                    <p> 
                                        Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer 
                                        malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor 
                                        sed. Ut venenatis tellus in metus vulputate eu scelerisque. 
                                    </p>
                                </div>
                            </li>

                            <!-- Question 4 -->
                            <li data-aos="fade-up" data-aos-delay="400">
                                <i class="bx bx-help-circle icon-help"></i>
                                <a data-bs-toggle="collapse" data-bs-target="#question-list-4" class="collapsed">
                                    Question 4: Tempus quam pellentesque nec nam aliquam sem et tortor consequat? 
                                    <i class="bx bx-chevron-down icon-show"></i>
                                    <i class="bx bx-chevron-up icon-close"></i>
                                </a>
                                <div id="question-list-4" class="collapse" data-bs-parent=".question-list">
                                    <!-- answer -->
                                    <p> 
                                        Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer 
                                        malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor 
                                        sed. Ut venenatis tellus in metus vulputate eu scelerisque. 
                                    </p>
                                </div>
                            </li>

                            <!-- Question 5 -->
                            <li data-aos="fade-up" data-aos-delay="500">
                                <i class="bx bx-help-circle icon-help"></i>
                                <a data-bs-toggle="collapse" data-bs-target="#question-list-5" class="collapsed">
                                    Question 5: Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? 
                                    <i class="bx bx-chevron-down icon-show"></i>
                                    <i class="bx bx-chevron-up icon-close"></i>
                                </a>
                                <div id="question-list-5" class="collapse" data-bs-parent=".question-list">
                                    <!-- answer -->
                                    <p> 
                                        Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer 
                                        malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor 
                                        sed. Ut venenatis tellus in metus vulputate eu scelerisque. 
                                    </p>
                                </div>
                            </li>

                            <!-- Question 6 -->
                            <li data-aos="fade-up" data-aos-delay="500">
                                <i class="bx bx-help-circle icon-help"></i>
                                <a data-bs-toggle="collapse" data-bs-target="#question-list-6" class="collapsed">
                                    Question 6: Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? 
                                    <i class="bx bx-chevron-down icon-show"></i>
                                    <i class="bx bx-chevron-up icon-close"></i>
                                </a>
                                <div id="question-list-6" class="collapse" data-bs-parent=".question-list">
                                    <!-- answer -->
                                    <p> 
                                        Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer 
                                        malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor 
                                        sed. Ut venenatis tellus in metus vulputate eu scelerisque. 
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>

            <!-- 
                1. allow for input commands: [clear, current: policies, firewall details, ids details, alerts (block ips, suspicious activity, etc)]
                2. figure out history/scrolling functionality 
            -->

            <!-- ======= Demo Section ======= -->
            <section id="demo" class="demo">
                <div class="container" data-aos="fade-up">
                    <!--  -->
                    <div class="section-title">
                        <h2>Demonstration</h2>
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                            eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="row">
                        <!-- terminal container : Log Firewall & IDS information -->
                        <div class="terminal-container">
                            <div class="Terminal">
                                <div class="Terminal__Toolbar">
                                    <div class="Toolbar__buttons">
                                        <button class="Toolbar__button Toolbar__button--exit">&#10005;</button>
                                        <button class="Toolbar__button">&#9472;</button>
                                        <button class="Toolbar__button">&#9723;</button>
                                    </div>
                                    <p class="Toolbar__user">demo@kali:~</p>
                                </div>
                                
                                <div class="Terminal__body">
                                    <!-- `Terminal__text` classes here -->
                                    <div class="Terminal__Prompt">
                                        <span class="Prompt__user">demo@kali:</span><span class="Prompt__location">~</span><span class="Prompt__dollar">$</span>
                                        <span class="Prompt__cursor"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>

        <!-- ======= Footer Section ======= -->
        <footer id="footer">
            <div class="container">
                <div class="copyright-wrap d-md-flex py-4">
                    <div class="me-md-auto text-center text-md-start">
                        <div class="copyright"> &copy; 2024 | <strong>
                                <span>Firewalls & Intrusion Detection Systems</span>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap JS Files -->
        <script src="../static/bs/purecounter/purecounter_vanilla.js"></script>
        <script src="../static/bs/aos/aos.js"></script>
        <script src="../static/bs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/bs/glightbox/js/glightbox.min.js"></script>
        <script src="../static/bs/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="../static/bs/swiper/swiper-bundle.min.js"></script>
        
        <!-- Additional JS Files -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>

        <!-- Firewall & IDS JS File -->
        <script src="../static/js/page.js"></script>
        <script src="../static/js/server.js"></script>
    </body>
</html>